*{
	box-sizing: border-box;
	outline: none;
	font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

html, body{
	margin: 0;
    padding: 0;
	height: 100%;
	min-height: 100%;
	line-height: 1.3;
	color: #333;
	position: relative;
}

body {
    opacity: 1;
    transition: 1s opacity;
    font-family: $titleFont;
    background: #e5e5e5;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
h1{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 50px;
	color: #16A085;
}
h2{
	font-size: 1.6rem;
}
h3{
	font-size: 1.9rem;
}
h4{
	font-size: 1rem;
}
h5{
	font-size: 1rem;
	margin: 0;
}
p{
	margin: 8px 0;
	font-size: 1.3rem;
	font-family: $paraFont;
	text-align: left;
	color: #FFF;
}

pre{
	margin: 10px 0;
}

blockquote{
	font-size: .85rem;
	padding: 3px 1.25rem;
	li{
		font-size: .85rem !important;

		&:before{
			top: 1px !important;
		}
	}
}
.clearfix:after{
	content:"";
	display: block;
	clear: both;
}
@font-face {
    font-family: orbitron;
    src: url('../fonts/orbitron/orbitron-regular.eot') format('eot'),
         url('../fonts/orbitron/orbitron-regular.woff') format('woff'),
         url('../fonts/orbitron/orbitron-regular.ttf') format('truetype'),
         url('../fonts/orbitron/orbitron-regular.svg') format('svg');
}
@font-face {
    font-family: orbitronBold;
    src: url('../fonts/orbitron/orbitron-bold.eot') format('eot'),
         url('../fonts/orbitron/orbitron-bold.woff') format('woff'),
         url('../fonts/orbitron/orbitron-bold.ttf') format('truetype'),
         url('../fonts/orbitron/orbitron-bold.svg') format('svg');
}
@font-face {
    font-family: ptSans;
    src: url('../fonts/pt_sans/pt_sans-web-regular.eot') format('eot'),
         url('../fonts/pt_sans/pt_sans-web-regular.woff') format('woff'),
         url('../fonts/pt_sans/pt_sans-web-regular.ttf') format('truetype'),
         url('../fonts/pt_sans/pt_sans-web-regular.svg') format('svg');
}
@font-face {
    font-family: ptSansBold;
    src: url('../fonts/pt_sans/pt_sans-web-bold.eot') format('eot'),
         url('../fonts/pt_sans/pt_sans-web-bold.woff') format('woff'),
         url('../fonts/pt_sans/pt_sans-web-bold.ttf') format('truetype'),
         url('../fonts/pt_sans/pt_sans-web-bold.svg') format('svg');
}