/******************************************************************************************************\
					RESPONSIVE PORTRAIT
\******************************************************************************************************/
@media screen
	and(max-device-width: 640px)
	and(max-width: 640px){
/***************************************************\
					SIDEBAR
\***************************************************/
	.sidebar{
		padding-top: 100px;
		transition-duration: 0.5s;
		a{
			font-size: 2.5rem;
		}
		.menu{
		    top: 0px;
			right: -65px;
		    width: 60px;
		    height: 60px;
		    .line{
		    	left: 20%;
		    	width: 60%;
		    }
		    #top{top: 27%;}
			#mid{top: 50%;}
			#bot{top: 73%;}
		    .line{
		    	height: 3px;
		    	@include radius(10px);
		    }
		}
		.ics{
			width: 80px;
			height: 80px;
			top: 4%;
		}
	}
/***************************************************\
					HOMEPAGE
\***************************************************/
	.home{
		.vector{
			padding-top: 0%;
		}
		.title{
			h1{
				font-size: 1.3rem;
			}
		}
		.link{
			a{
				/*font-size: 1.6rem;*/
				/*margin: 5%;*/
				padding: 2% 4%;
			}
		}
	}
/***************************************************\
					PAGE PORTFOLIO
\***************************************************/
	.creations{
		.txtIntro p{
			font-size: 1rem;
			width: 80%;
		}
		#creation-1, #creation-2, #creation-3{
			width: 100%;
			margin: 0;
			h4{
				margin-top: 5px; 
				margin-bottom: 10px;
			}
			img{
				width: 30%;
				&:hover{
					width: 30%;
				}
			}
		}
		#creation-1 img{
			width: 20%;
		}
		#creation-2:hover img, #creation-3:hover img{
			width: 40%;
		}
	}
/***************************************************\
				PAGE FCO + SWEETHOME
\***************************************************/
.content-pages{
	.back{
		right: 14px;
		top: 12px;
		display: block;
		text-align: right;
	}
	.title{
		img{
			width: 70%;
			margin-top: 5%;
		}
		.price{
			h2{
				font-size: 1.6rem;
			}
		}
	}
	/********************************************************************************\
					CONTEXTE
	\********************************************************************************/
	.context{
		.context-block{
			background: none;
			width: 100%;
			&:nth-child(odd){
				left: 0%;
				img{
					top: -30px;
					right: -6%;
				}
			}
			&:nth-child(even){
				left: 0%;
				img{
					top: -30px;
					left: 65%;
				}
			}
			img{
				z-index: 1;
			}
			.table2{
				display: none;
			}
		}
		.align-left{
			left: 0%;
		}
		.align-right{
			right: 0%;
		}
		.block-fco{
			padding-bottom: 5%;
			border: 3px solid #DDD;
			margin-bottom: 5%;
			.fco-text{
				display: block;
				width: 100%;
			}
		}
		.context-side{
			width: 100%;
			height: 100%;
			h3{
				font-size: 1.3rem;
			}
			p{
				padding: 5%;
			}
		}
	}
}
/***************************************************\
					LIGHTBOX
\***************************************************/
.lightbox{
	.memory-sweet, .memory-fco{
	padding-bottom: 10%;
	width: 90%;
	}
	.polaroid1, .polaroid2, .polaroid3{
		width: 80%;
	}
}
/***************************************************\
					CONTACT
\***************************************************/
	.form-contacter{
		margin: 10% auto;
		overflow: initial;
		max-width: 100%;
		input, textarea, label, button{
			font-size: 2.9rem;
		}
		input, textarea, label{
			font-size: 1.3rem;
		}
		label{
			display: block;
		}
		input{
			width: 100%;
		}
		button{
			padding: 15px 20px;
		}
		textarea{
			width: 100%;
			max-width: 100%;
		}
		.submit{
			margin-top: 5%;
			button{
				font-size: 1.3rem;
			}
		}
		.form-contact{
			padding: 10% 5%;
			width: 100%;
			.error{
				top: 4%;
				left: 5%;
				font-size: 0.9rem;
			}
		}
		.contact{
			&-background{
				display: none;
			}
			&-top{
				display: none;
			}
			&-bottom{
				display: none;
			}
			&-paper{
				top: 10px;
				width: 91%;
			}
		}
		.stamp{
			display: none;
		}
	/***************************************************\
				ANIMATION CONTACT AU HOVER
	\***************************************************/
/*		&:hover .contact-top{
			@include transform(rotateX(180deg));
			bottom: -140px;
			z-index: 25;
		}
		&:hover .contact-paper{
			top: 400px;
			height: 100px;
		}
		&:hover .stamp{
			@include transform(scale(1));
			opacity: 0.8;
			top: 500px;
		}*/
	/***************************************************\
						ANIMATIONS
	\***************************************************/
	/* DÉCLENCHEMENT DE L'ANIMATION AU CLICK*/
		.play-contact-top{
			@include transform(rotateX(180deg));
			bottom: -140px;
			z-index: 25 !important;
		}
		.play-contact-paper{
			top: 400px;
			height: 100px;
		}
		.play-stamp{
			@include transform(scale(1));
			opacity: 0.8;
			top: 500px;
		}
	}
	/***************************************************\
						MON PARCOURS
	\***************************************************/
	.career{
		background: none;
		height: $careerEventTop * 7;
		.event{
			width: 90%;
			h5, p, li{
				font-size: 1.1rem;
			}
		}
		.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth{
			.top{
				.title{
					height: 65px;
					padding: 3% 4%;
				}
				.square{
					padding: 1.5% 2.5%;
					top: -10px;
					right: -10px;
					width: 55px;
					height: 50px;
					p{
						font-size: 2rem;
					}
				}
				.line{
					display: none;
				}
				.circle{
					display: none;
				}
				.date{
					left: 12px;
					top: 33px;
					right: 0;
				}
			}
			.body{
				padding: 15px 20px;
				p{
					strong{
						color: #676767;
					}
				}
			}
		}
		.first{
			margin-top: 50px;
		}
		.second{
			margin-top: $careerEventTop * 1.85;
		}
		.third{
			margin-top: $careerEventTop * 2.7;
		}
		.fourth{
			margin-top: $careerEventTop * 3.9;
		}
		.fifth{
			margin-top: $careerEventTop * 4.85;
		}
		.sixth{
			margin-top: $careerEventTop * 5.94;
		}
		.seventh{
			margin-top: $careerEventTop * 6.8;
		}
		.eighth{
			margin-top: $careerEventTop * 7.65;
		}
		.left{
			transform: translate(-50%, 0);
		}
		.right{
			transform: translate(-50%, 0);
		}
	}
}

/******************************************************************************************************\
					RESPONSIVE LANDSCAPE
\******************************************************************************************************/
@media only screen  
  and (max-device-height: 500px)
  and (orientation: landscape){
/***************************************************\
					HOMEPAGE
\***************************************************/
	.content{
		.home{
			.vector{
				padding-top: 3%;
				margin-bottom: 2%; 
				svg{
					width: 100px;
					height: 100px;
				}
			}
			.title{
				h1{
					margin-bottom: 20px;
				}
			}
			.link{
				a{
					padding: 1% 2%;
				}
			}
		}
	}
/***************************************************\
					SIDEBAR
\***************************************************/
	.sidebar{
		padding-top: 10px;
		.menu{
		    top: -3%;
			right: -80px;
		    width: 80px;
		    height: 80px;
		    .line{
		    	height: 5px;
		    }
		}
		.ics{
			top: 5%;
			right: 2%;
		}
		.links{
			a, p{
				font-size: 2rem;
			}
		}
	}
/***************************************************\
					PAGE PORFOLIO
\***************************************************/
	.creations{
		text-align: center;
		#creation-1, #creation-2, #creation-3{
			display: inline-block;
			width: 30%;
			margin: 0;
			h4{
				font-size: 0.7rem;
			}
			img{
				width: 75%;
				&:hover{
					width: 90%;
				}
			}
		}
		#creation-1 img{
			width: 40%;
		}
	}
/***************************************************\
					CONTACT
\***************************************************/
	.form-contacter{
		/*transform: scale(1.5);*/
		margin: 20% auto;
		.contact{
			&-background{
				/*bottom: -200px;*/
			}
			&-top{
				/*bottom: -205px;*/
			}
			&-bottom{
				img{
					display: block;	
				}
				.mail{
					font-family: $titleFont;
					color: #555;
					position: absolute;
					bottom: 20px;
					left: 155px;
				}
			}
			&-paper{
				top: 5px;
			}
		}
	}
	/***************************************************\
						MON PARCOURS
	\***************************************************/
	.career{
		.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth{
			.top{
				.title{
					padding: 2% 4%;
				}
				.square{
					padding: 1% 1.5%;
				}
				.date{
					left: 22px;
					top: 33px;
					right: 0;
				}
			}
			.body{
				padding: 15px 20px;
				p{
					strong{
						color: #676767;
					}
				}
			}
		}
	}
}