$sidebarWidth: 260px;

$sweetColor: #113057;
$fcoColor: #007B00;

$textColor: $sweetColor;
$bgColor: #fff;

$sideWidth: 20%;

$careerEventTop: 190px;
/********************************************************\
            FONTS
\********************************************************/
$titleFont: orbitron;
$titleBold: orbitronBold;
$paraFont: ptSans;
$paraBold: ptSansBold;
/********************************************************\
            BLOCK EVENT CAREER COLOR!
\********************************************************/
$first:		#f39c12;
$second:	#2980b9;
$third:		#2ecc71;
$fourth:	purple;
$fifth:		red;
$sixth:		gray;
$seventh:	pink;