.content{
	z-index: 1;
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #ECF0F1;
	font-family: $titleFont;
	font-size: 1rem;
	text-align: center;
	
	#title{
		text-align: center;
		padding-top: 15%;
		p{
			font-weight: bold;
			color: #16A085;
			font-size: 40px;
			margin-bottom: 50px; 
		}
		span{
			font-family: $titleBold;
			font-size: 20px;
		}
	}
	#enter{
		position: relative;
		top: 0;
		left: 43%;
		width: 150px;
		height: 150px;
		#finger{
			position: absolute;
			top: 25%;
			left: 40%;
		}
	}
	svg{
	    transition: all 200ms ease-in;
	    -ms-transition: all 200ms ease-in;
	    -moz-transition: all 200ms ease-in;
	    animation: finger 1.5s infinite alternate;
	}
	svg:hover{
		cursor: pointer;
	}
	/*.portfolio{
			width: 100%;
		.hover{
			position: relative;
			top: 0;
			margin-top: 10%;
			margin-right: 2%;
			padding-bottom: 2%;
			width: 35%;
			display: inline-block;
			vertical-align: top;
			background: #DDD;
			overflow: hidden;
			cursor: pointer;
			@include radius(10px);
			transition: all 200ms ease-in;
		}
		img{
			position: absolute;
			right: -100%;
			max-width: 100%;
			display: block;
			padding-top: 25px;
			transition: all 200ms ease-in;
		}
		h2{
			transition: all 200ms ease-in;
			font-weight: bold;
			font-size: 20px;
			top: 0;
		}
		p{
			transition: all 100ms ease-in;
			position: relative;
			top: 0;
			width: 100%;
			text-align: justify;
			padding: 0 4%;
			margin: 0;
		}
		.hover:hover{
			padding-bottom: 20%;
		}
		.hover:hover img{
			right: 0;
		}
		.hover:hover h2{
			font-size: 25px;
		}
	}*/
}
h1{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 20px;
	color: #333;
	a{
		font-weight: bold;
		font-size: 1.4rem;
	}
}
h2{
	font-size: 2em;
}
h4{
	/*margin: 0;*/
	margin: 10px 0;
	padding: 0;
	padding-bottom: 4px;
	border-bottom: 1px solid #CCC;
	font-size: 1rem;
	font-weight: bold;
	a{
		font-weight: bold;
		font-size: 0.8rem;
	}
}