.home{
	height: 100%;
	.vector{
		padding-top: 10%;
		svg{
			width: 200px;
			height: 300px;
			display: block;
			margin: 0 auto;
			path{
				stroke: #fff;
				stroke-dasharray: 3319;
				stroke-dashoffset: 3319;
			    animation-name: drawVector;
			    animation-duration: 3s;
			    animation-iteration-count: 1;
			    animation-fill-mode: forwards;
			    animation-timing-function: linear;
				stroke-width: 8;
			}
			path[name="polyCenter"]{
				fill-opacity: 0;

			}
			path[name="polyBorder"]{

			}
			path[name="letter"]{
				fill-opacity: 0;
			}
		}
	}
	.title{
		text-align: center;
		font-family: $titleFont;
		span{
			color: $sweetColor;
			padding: 1%;
		}
	}
	.link{
		text-align: center;
		font-family: $titleFont;
		a{
			display:inline-block;
			font-size: 1.2rem;
			text-decoration: none;
			color: $sweetColor;
			padding: 0.5%;
			transition: all 0.3s;
			border: 2px solid #16A085;
		}
		a:hover{
			color: #DDD;
			background: #16A085;
		}
	}
}