.home{
	.title{
		text-align: center;
		padding-top: 15%;
		font-family: $titleFont;
		h1{
			margin-bottom: 50px; 
			font-size: 3rem;
			color: #16A085;
		}
		span{
			color: $sweetColor;
			padding: 1%;
		}
	}
	.links{
		text-align: center;
		font-family: $titleFont;
		a{
			display:inline-block;
			font-size: 2rem;
			text-decoration: none;
			color: $sweetColor;
			margin: 0 5%; 
			transition: all 0.3s;
		}
		a:hover{
			color: #144686;
		}
		.link-portfolio:hover .links-line{
			width: 100%;
		}
		.link-contact:hover .links-line{
			width: 100%;
		}
		.links-line{
			transition: all 0.3s ease;
			background: #16A085;
			width: 0%;
			height: 4px;
		}
	}
/*
	#enter{
		position: relative;
		top: 0;
		left: 43%;
		width: 150px;
		height: 150px;
		#finger{
			position: absolute;
			top: 25%;
			left: 40%;
		}
	}
	svg{
	    transition: all 200ms ease-in;
	    -ms-transition: all 200ms ease-in;
	    -moz-transition: all 200ms ease-in;
	    animation: finger 1.5s infinite alternate;
	}
	svg:hover{
		cursor: pointer;
	}*/
}