.home{
	height: 100%;
	.vector{
		padding-top: 10%;
		svg{
			width: 200px;
			height: 200px;
			display: block;
			margin: 50px auto;
			path{
			cursor: pointer;
				stroke: #fff;
				stroke-dasharray: 3319;
				stroke-dashoffset: 3319;
			    animation-name: drawVector;
			    animation-duration: 3s;
			    animation-iteration-count: 1;
			    animation-fill-mode: forwards;
			    animation-timing-function: linear;
				stroke-width: 8;
			}
			#polyCenter, #letter{
				fill-opacity: 0;
			}
		}
	}
	.title{
		text-align: center;
		font-family: $titleFont;
		span{
			color: $sweetColor;
			padding: 1%;
		}
	}
	.link{
		text-align: center;
		a{
			padding: 0.8% 1.5%;
			display:inline-block;
			text-decoration: none;
			font-family: $paraFont;
			font-size: 1.2rem;
			color: $sweetColor;
			border: 2px solid #16A085;
			@include radius(50px);
			transition: all 0.3s;
		}
		a:hover{
			color: #EEE;
			background: #16A085;
		}
	}
}